* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-size: 128px;
    font-weight: 400;
}
.h1-font {
    font-size: 128px;
    font-weight: 400;
}
.bg-article {
    background-color: #efefef;
}
article {
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 32px;
}
.profile-section {
    padding-top: 80px;
    padding-bottom: 160px;
}
.profile-title {
    color: #ae0000;
    font-size: 40px;
    border-bottom: #ae0000 3px solid;
    margin-bottom: 16px;
}
.profile-section a {
    font-size: 24px;
    color: #000;
}
.profile-section a:hover {
    color: #949393;
}
.profile-section span {
    color: #949494;
    font-size: 20px;
    font-style: italic;
}
.profile-section p {
    font-size: 24px;
}
.mb-40 {
    margin-bottom: 40px;
}
.footer-media {
    gap: 40px;
    padding-top: 64px;
    padding-bottom: 64px;
}
.footer-media img {
    width: 64px;
    height: 64px;
}
.footer-media img:hover {
    filter: brightness(70%);
}
